<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./../elements/head %>
</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Thêm sản phẩm </div>
      <div class="card-body">
        <form >
            <div class="form-group">     
                <label>Hình minh họa</label>
                <input class="form-control" type="text" name='linkImage'>
            </div>
            <div class="form-group">     
                <label>Tên sản phẩm</label>
                <input class="form-control" type="text" name='productName'>
            </div>
            <div class="form-group">
                <label>Loại</label>
                <input class="form-control" type="text" name='productType'>
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <input class="form-control" type="text" name='product_description'>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input class="form-control" type="text" name='productPrice'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD PRODUCT">
        </form>
        

  <!-- Bootstrap core JavaScript-->
  <% include ./../elements/script_2 %>

</body>

</html>
